*{
    margin: 0;
}
body{
    display: flex;
    min-width: 600px;
    flex-direction: column;
}
header{
    position: sticky;
    top: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #242526;
}

header #search{
    display: flex;
    flex-grow: 1;
    flex-basis: 25vw;
    align-items: center;
}

header #search button{  
    margin-left: 5px;
    border-radius: 50%;
    background-image: url("assets/FacebookLogo.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    
}
header #search input{
    background-color: #3A3B3C;
    border: none;
    margin-left: 10px;
    border-radius: 30px;
    height: 30px;
    width: 200px;
}
.SB{
    
    margin-left: 20px;
    background-color: #3A3B3C;
    
    display: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}
.SB a{
    font-size: 1.5em;
    color: #8D8F94;
}
.pbar{
    margin-left: 20px;
    background-color: #3A3B3C;
    
    display: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}
.pbar a{
    font-size: 1.5em;
    color: #8D8F94;
}
header #tabs{
    flex-basis: 50vw;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
}
header #tabs #list{
    width: 40vw;    
    display: flex;
    justify-content: space-around;
}
header #tabs #list div{
    width: 50px;
    display: flex;
    justify-content: center;
}
header #tabs #list #appear{
    display: none;
}
header #tabs #list div a{
    font-size: 1.5em;
    color: #8D8F94;
    text-decoration: none;
}
header #settings{  
    flex-grow: 1;
    flex-basis: 25vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
header #settings #list2{
    width: 20vw;
    display: flex;
    justify-content: end;
}
header #settings #list2 div{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #3A3B3C;
}
header #settings #list2 div a{
    color: #8D8F94;
    font-size: 1.5em;
    
    text-decoration: none;
}
.plus{
    display: none;
}
header #settings #list2 button{
    margin: 5px;
    min-width: 50px;
    border-radius: 50%;
    background-image: url(assets/ProfilePic.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}
main{
    flex-grow: 1;
    display: flex;
    min-width: 600px;
    flex-direction: row;
    justify-content: space-between;
    background-color: #18191A;
}
main #leftside{
    flex-grow: 1;
    flex-basis: 25vw;
    position: sticky;
    height: 93vh;
    top: 60px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
main #leftside #profile{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}
main #leftside #profile div{
    display: flex;
    border-radius: 20px;
    height: 50px;
    flex-grow: 1;
    max-width: 300px;
    align-items: center;
}
main #leftside #profile div #iC{
    height: 50px;
    max-width: 50px;
    padding-right: 10px;
}
main #leftside #profile div span{
    color: white;
    margin-left: 10px;
}
main #leftside #profile div img{
    border-radius: 50%;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}
main #leftside #profile div a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
main #leftside #profile div a i{
    width: 50px;
    font-size: 2em;
    text-decoration: none;
}
main #leftside #shortcuts{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
main #leftside #shortcuts h4{
    color: #9A9CA1;
    margin: 10px;
}
main #leftside #shortcuts div{
    border-radius: 20px;
    height: 50px;
    flex-grow: 1;
    max-width: 300px;
    display: flex;
    align-items: center;
}
main #leftside #shortcuts div span{
    color: white;
}
main #leftside #shortcuts div a{
    color: white;
    margin-left: 10px;
}
main #leftside #shortcuts div a i{
    width: 50px;
    font-size: 2em;
    text-decoration: none;
}
main #leftside footer{
    width: 300px;
    margin-bottom: 20px;
}
main #leftside footer ul li a{
    text-decoration: none;
    color: white;
}
main #leftside footer ul li a i{
    font-size: 5px;
}
main #leftside footer ul li{
    display: inline;
}
main #rightside{
    display: flex;
    position: sticky;
    top: 60px;
    max-height: 93vh;
    flex-grow: 1;
    flex-basis: 25vw;
    padding-top: 20px;
    overflow: hidden;
    flex-direction: column;
    
}
main #rightside #pagesP{
    display: flex;
    margin-left: 20px;
    
}
main #rightside #pagesP h3{
    flex-grow: 3;
    color: #9A9CA1;
}
main #rightside #pagesP a{
    font-size: 1.5em;
    margin-right: 20px;
    color: white;
}
main #rightside #contacts{
    margin: 20px;
    color: #9A9CA1;
}
main #rightside #contacts #setting{
    display: flex;
    width: 25vw;
}
main #rightside #contacts #setting div{
    margin-right: 20px;
    display: flex;
    justify-content: start;
    flex-grow: 1;
}
main #rightside #contacts #setting div a{
    flex-grow: 1;
    color: white;
}
main #rightside #contacts #setting h3{
    flex-grow: 1;
}
.contact{
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 50px;
}
main #rightside #contacts div span{
    color: white;
    margin-left: 10px;
}
main #rightside #contacts div img{
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
main #rightside #groups{
    margin: 20px;
    color: white;
    margin-bottom: 50px;
}
main #rightside #groups div{
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 350px;
    height: 50px;
}
main #rightside #groups div span{
    margin-left: 10px;
    color: white;
}
main #rightside #groups div img{
    border: 2px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

main #center{
    margin-top: 10px;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    
}
main #center #content{
    width: 40vw;
    min-width: 600px;
}
main #center #content #stories{
    margin-top: 10px;
    display: flex;
    
}
.story{
    flex-grow: 1;
    border-radius: 30px;
    margin: 5px;
    background-color: #242526;
    aspect-ratio: 1/2;
    height: auto;
    max-height: 300px;
}

main #center #content #post{
    margin-top: 10px;
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
    background-color: #242526;
    flex-direction: column;
    
}
main #center #content #post *{
    display: flex;
    margin: 5px;
    color: #B0B3B8;
}
main #center #content #post #wom #B{
    flex-grow: 1;
    
}
main #center #content #post #wom #B #a{
    background-image: url(assets/ProfilePic.png);
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
main #center #content #post #wom #B #b{
    border-radius: 30px;
    background-color: #3A3B3C;
    display: flex;
    border: none;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}
main #center #content #post #wom #B #b a{
    text-decoration: none;
    font-size: 1.5em;
}
main #center #content #post #type{
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    
}

main #center #content #post #type div a {
    text-decoration: none;
    
}
main #center #content #post #type div a i{
    font-size: 1.5em;
}

main #center #content #post #type div{
    display: flex;
    align-items: center;
    width: 175px;
    height: 50px;
    border-radius: 30px;
    justify-content: center;
}
main #center #content #live{
    margin-top: 10px;
    background-color: #242526;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
main #content #live *{
    color: #B0B3B8;
}
main #center #content #live #container{
    border-radius: 30px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    border: 2px solid #B0B3B8;;
    
}
main #center #content #live #container a{
    margin-left: 10px;
    text-decoration: none;
}
main #center #content #live #container a i{
    font-size: 1.5em;
}
main #center #content #live #container span{
    margin-left: 20px;
    width: 100px;
}
.post{
    margin-top: 10px;
    border-radius: 30px;
    background-color: #242526;
    flex-grow: 1;
    height: 700px;
}
hr{
    margin-right: 50px;
    margin-left: 10px;
}