*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    position: sticky;
    top: 0;
    flex-grow: 1;
    background-color: aqua;
    height: 10vh;
    display: flex;
    flex-direction: row;
}
header #search{
    display: flex;
    background-color: beige;
    flex-grow: 1;
    flex-basis: 25vw;
    align-items: center;
}

header #search button{  
    margin-left: 5px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
}
header #search input{
    margin-left: 2px;
    border-radius: 30px;
    height: 30px;
    width: 200px;
}
header #tabs{
    background-color: azure;
    flex-basis: 50vw;
    flex-grow: 3;
    display: flex;
    align-items: flex-end;
    padding-left: 5vw;
    padding-right: 5vw;
}
header #tabs button{
    border-radius: 10px;
    flex-grow: 1;
    height: 50px;
    background-color: brown;
}
header #settings{
    background-color: beige;
    flex-grow: 1;
    flex-basis: 25vw;
    display: flex;
    justify-content: end;
    align-items: center;
}
header #settings button{
    margin: 5px;
    height: 50px;
    width: 50px;
    background-color: aqua;
}
main{
    flex-grow: 1;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}
main #leftside{
    flex-grow: 1;
    flex-basis: 25vw;
    position: sticky;
    top: 10vh;
    height: 90vh;
    background-color: bisque;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
main #leftside #profile{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}
main #leftside #profile button{
    border-radius: 20px;
    height: 50px;
    width: 300px;
}
main #leftside #shortcuts{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
main #leftside #shortcuts button{
    border-radius: 20px;
    height: 50px;
    width: 300px;
}
main #rightside{
    position: sticky;
    top: 10vh;
    flex-grow: 1;
    flex-basis: 25vw;
    height: 90vh;
    background-color: bisque;
    padding-top: 20px;
    overflow-y: auto;
}
main #rightside #pagesP{
    display: flex;
    margin-left: 20px;
    background-color: beige;
}
main #rightside #pagesP h3{
    flex-grow: 3;
}
main #rightside #pagesP button{
    flex-grow: 1;
}
main #rightside #contacts{
    display: flex;
    flex-direction: column;
}
main #rightside #contacts h3{
    margin: 20px;
}
main #rightside #contacts button{
    margin-left: 20px;
    flex-grow: 1;
    height: 50px;
}
main #rightside #groups{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
main #rightside #groups h3{
    margin-left: 20px;
}
main #rightside #groups button{
    margin-left: 20px;
    flex-grow: 1;
    height: 50px;
}
main #center{
    flex-grow: 3;
    flex-basis: 50vw;
    display: flex;
    flex-direction: column;
}
main #center #stories{
    display: flex;
    flex-grow: 1;
    background-color: burlywood;
}
.story{
    border-radius: 30px;
    margin: 5px;
    min-width: 150px;
    background-color: coral;
    height: 300px;
}
main #center *{
    margin-top: 10px;
}
main #center #post{
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
    background-color: cornsilk;
    flex-direction: column;
}
main #center #post *{
    display: flex;
    margin: 5px;
}
main #center #post #wom #B{
    flex-grow: 1;
    
}
main #center #post #wom #B #a{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
main #center #post #wom #B #b{
    border-radius: 30px;
    flex-grow: 1;
}
main #center #post #type{
    flex-grow: 1;
    
}
main #center #post #type button{
    flex-grow: 1;
    height: 50px;
    border-radius: 30px;
}
main #center #live{
    display: flex;
    background-color: azure;
    border-radius: 30px;
}
main #center #live button{
    margin: 10px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
}
.post{
    border-radius: 30px;
    background-color: blueviolet;
    flex-grow: 1;
    height: 700px;
}